<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container">
    <form class="forma" action="#" th:action="@{/admin/addPhysicalQuantity}" th:object="${physicalQuantity}" method="post">
        <h2>Добавление физической величины</h2>
        <div class="form-group">
            <label for="name">Название</label>
            <div class="validation" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="designation">Условное обозначение</label>
            <div class="validation" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}">Name Error</div>
            <input class="form-control" type="text" th:field="*{designation}" id="designation" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="unit">Единица измерения</label>
            <div class="validation" th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">Name Error</div>
            <input class="form-control" type="text" th:field="*{unit}" id="unit" placeholder="Введите название..">
        </div>
        <input class="btn btn-primary" type="submit" value="Создать">
    </form>
</div>
</body>
</html>
