<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container">
    <form class="forma" action="#" th:action="@{/admin/addPhysicalQuantity}" th:object="${physicalQuantity}" method="post">
        <h2>Добавление физической величины</h2>
        <div class="form-group">
            <label for="name">Название</label>
            <div class="validation" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="designation">Обозначение</label>
            <div class="validation" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}">Name Error</div>
            <input type="text" class="form-control"  th:field="*{designation}" id="designation" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="unit">Единица измерения</label>
            <div class="validation" th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">Name Error</div>
            <input type="text" class="form-control"  th:field="*{unit}" id="unit" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="db_designation">Условное обозначение в БД</label>
            <div class="validation" th:if="${#fields.hasErrors('db_designation')}" th:errors="*{db_designation}">Name Error</div>
            <input type="text" class="form-control"  th:field="*{db_designation}" id="db_designation" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="measuringInstrumentId">Средство измерения</label>
            <select id="measuringInstrumentId" name="measuringInstrumentId" class="form-control">
                <option th:each="measuringInstrument : ${measuringInstruments}"
                        th:value="${measuringInstrument.getId()}"
                        th:text="${measuringInstrument.getName()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="measurement_mode">Режим (сроки) измерения </label>
            <div class="validation" th:if="${#fields.hasErrors('measurement_mode')}" th:errors="*{measurement_mode}">Name Error</div>
            <input type="text" class="form-control"  th:field="*{measurement_mode}" id="measurement_mode" placeholder="Введите описание..">
        </div>
        <input class="btn btn-primary" type="submit" value="Создать">
    </form>
</div>
</body>
</html>
