<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container">
    <form class="forma" action="#" th:action="@{/admin/editCoordinates}" th:object="${coordinates}" method="post">
        <h2>Редактирование координат</h2>
        <h4>Пункт наблюдения [[${coordinates.getObservationPoint().getName()}]]</h4>
        <input class="form-control" type="hidden" th:attr="value=*{id}" id="coordinates_id" name="coordinates_id">

        <div class="form-group">
            <label for="latitude">Широта</label>
            <div class="validation" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}">Name Error</div>
            <input class="form-control" type="text" th:field="*{latitude}" id="latitude" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="longitude">Долгота</label>
            <div class="validation" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}">Name Error</div>
            <input class="form-control" type="text" th:field="*{longitude}" id="longitude" placeholder="Введите название..">
        </div>
        <input class="btn btn-primary" type="submit" value="Принять">
    </form>
</div>
</body>
</html>
