<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container">
    <form class="forma" action="#" th:action="@{/admin/addMeasuringInstrument}" th:object="${measuringInstrument}" method="post">
        <h2>Добавление средства измерения</h2>
        <div class="form-group">
            <label for="name">Название</label>
            <div class="validation" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <div class="validation" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</div>
            <textarea class="form-control" rows="3" cols="60" th:field="*{description}" id="description" placeholder="Введите описание.."></textarea>
        </div>
        <div class="form-group">
            <label for="observationPointId">Пункт наблюдения</label>
            <select id="observationPointId" name="observationPointId" class="form-control">
                <option th:each="observationPoint : ${observationPoints}"
                        th:value="${observationPoint.getId()}"
                        th:text="${observationPoint.getName()}"></option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Создать">
    </form>
</div>
</body>
</html>
