<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="shared/headers"></span>
</head>
<body>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<div class="container" th:switch="${order}">
    <h2 th:case="null">Корзина пуста</h2>
    <div th:case="*">
        <h1>Корзина</h1>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Производитель
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Количество
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderProduct : ${order.getOrderProducts()}">
                <td th:text='${orderProduct.getProduct().getName()}'></td>

                <td th:text='${orderProduct.getProduct().getManufacturer()}'></td>

                <td th:text='${orderProduct.getProduct().getPrice()}'></td>

                <td th:text='${orderProduct.getNumber()}'></td>
                <td>
                    <a th:href="@{/deleteFromOrder/{orderId}/{productId}(orderId=${order.getId()}, productId=${orderProduct.getProduct().getId()})}">Удалить</a>
                </td>
            </tr>

            </tbody>
        </table>
        <form th:action="@{/confirmOrder/{id}(id=${order.getId()})}" method="post">
            <input type="submit" class="btn btn-info" value="Подтвердить заказ">
        </form>
    </div>
</div>
</body>
</html>