<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="shared/headers"></span>
</head>
<body>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<div class="container" th:switch="${orders}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h1>История заказов</h1>
        <br/>
        <table class="table">
                            <span th:each="order : ${orders}">
                    <tr style="background-color: lightgray">
                        <th colspan="2" align="center"
                            th:text='${order.get().getDate()}'>
                        </th>
                         <td colspan="1">
                            <span th:text="'Статус: '+${order.get().getStatusString()}"></span>
                        </td>
                    </tr>

                <tr>
                    <th>
                        Название товара
                    </th>
                    <th>
                        Производитель
                    </th>
                    <th>
                        Цена X Количество
                    </th>
                </tr>

                    <tr th:each="orderProduct : ${order.get().getOrderProducts()}">
                        <td th:text='${orderProduct.getProduct().getName()}'></td>

                        <td th:text='${orderProduct.getProduct().getManufacturer()}'></td>

                        <td>
                            <span th:text='${orderProduct.getProduct().getPrice()}'></span>
                            <span> X </span>
                            <span th:text='${orderProduct.getNumber()}'></span>
                        </td>


                    </tr>
                    <tr>
                        <td colspan="3" >
                            <span>Цена заказа: </span>
                            <span th:text='${order.get().getTotalCost()}'></span>
                            <span> руб.</span>
                        </td>

                    </tr>
                </span>
        </table>
    </div>
</div>
</body>
</html>