<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container">
    <form hidden id="deleteForm" method="post" th:action="'/admin/deleteSensor/' + ${sensor.getId()}">
    </form>
    <form class="forma" action="#" th:action="@{/admin/editSensor}" th:object="${sensor}" method="post">
        <h2>Редактирование датчика</h2>
        <input class="form-control" type="hidden" th:attr="value=*{id}" id="sensor_id" name="sensor_id">
        <a href="#" onclick="submitForm()">Удалить датчик</a>

        <div class="form-group">
            <label for="name">Название</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Введите название..">
        </div>
        <div class="form-group">
            <label for="physicalQuantityId">Физическая величина</label>
            <select id="physicalQuantityId" name="physicalQuantityId" class="form-control">
                <option th:each="physicalQuantity : ${physicalQuantities}"
                        th:value="${physicalQuantity.getId()}"
                        th:text="${physicalQuantity.getName()}"
                        th:selected="${sensor.getPhysicalQuantity() != null ? physicalQuantity.getId() == sensor.getPhysicalQuantity().getId() : physicalQuantities.get(0)}"></option>
            </select>
            <h6>Если в списке нет нужной величины, вы можете <a href="/admin/addPhysicalQuantity" type="get">добавить новую</a></h6>
        </div>
        <div class="form-group">
            <label for="measuringInstrumentId">Средство измерения</label>
            <select id="measuringInstrumentId" name="measuringInstrumentId" class="form-control">
                <option th:each="measuringInstrument : ${measuringInstruments}"
                        th:value="${measuringInstrument.getId()}"
                        th:text="${measuringInstrument.getName()}"
                        th:selected="${measuringInstrument.getId() == sensor.getMeasuringInstrument().getId()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="measurement_mode">Режим (сроки) измерения </label>
            <input type="text" class="form-control"  th:field="*{measurement_mode}" id="measurement_mode" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="sensor_db_key">Обозначение датчика в базе данных</label>
            <input type="text" class="form-control"  th:field="*{sensor_db_key}" id="sensor_db_key" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="sensor_table">Таблица датчика в базе данных</label>
            <input type="text" class="form-control"  th:field="*{sensor_table}" id="sensor_table" placeholder="Введите описание..">
        </div>
        <div class="form-group">
            <label for="sensor_DB">Имя базы данных</label>
            <input type="text" class="form-control"  th:field="*{sensor_DB}" id="sensor_DB" placeholder="Введите описание..">
        </div>
        <input class="btn btn-primary" type="submit" value="Принять">
    </form>
</div>
</body>
<script type="text/javascript">
    function submitForm(){
        var answer = confirm('Вы уверены что хотите удалить датчик?');
        if(answer) {
            $('#deleteForm').submit();
        }
    }
</script>
</html>
