<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<form hidden id="deleteForm" method="post" action="/admin/deletePhysicalQuantity/">
</form>
<div class="container" th:switch="${physicalQuantities}">
        <h2>Физические величины</h2>
        <div sec:authorize="isAuthenticated()" class="form-group">
            <a href="/admin/addPhysicalQuantity">Добавить физическую величину</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Обозначение
                </th>
                <th>
                    Единица измерения
                </th>
            </tr>
            </thead>
            <tbody>
            <span th:each="PhysicalQuantity : ${physicalQuantities}">
                <tr>
                    <td th:text='${PhysicalQuantity.getName()}'></td>
                    <td><i th:text='${PhysicalQuantity.getDesignation()}'></i></td>
                    <td><i th:text='${PhysicalQuantity.getUnit()}'></i></td>
                    <td sec:authorize="isAuthenticated()">
                        <a th:href="@{/admin/editPhysicalQuantity/{id}(id=${PhysicalQuantity.getId()})}">Редактировать</a> |
                        <a href="#" th:attr="onclick=|submitForm('${PhysicalQuantity.getId()}')|">Удалить</a>
                    </td>
                </tr>
            </span>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    function submitForm(url){
        var answer = confirm('Вы уверены что хотите удалить физическую величину?');
        if(answer) {
            let action = $('#deleteForm').attr("action");
            $('#deleteForm').attr("action", action + url);
            $('#deleteForm').submit();
        }
    }
</script>
</html>
