<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <span th:replace="shared/headers"></span>
</head>
<header>
    <div th:replace="shared/menu :: navbar (${'resolve'})"></div>
</header>
<body>
<div class="container" th:switch="${physicalQuantities}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Физические величины</h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Физическая величина
                </th>
                <th>
                    Обозначение
                </th>
                <th>
                    Единица измерения
                </th>
                <th>
                    Условное обозначение в БД
                </th>
                <th>
                    Средство измерения
                </th>
                <th>
                    Режим (сроки) измерения
                </th>

            </tr>
            </thead>
            <tbody>
            <span th:each="PhysicalQuantity : ${physicalQuantities}">
                <tr>
                    <td th:text='${PhysicalQuantity.getName()}'></td>
                    <td><i th:text='${PhysicalQuantity.getDesignation()}'></i></td>
                    <td><i th:text='${PhysicalQuantity.getUnit()}'></i></td>
                    <td th:text='${PhysicalQuantity.getDb_designation()}'></td>
                    <td th:text='${PhysicalQuantity.getMeasuringInstrument()!=null?PhysicalQuantity.getMeasuringInstrument().getName():"-"}'></td>
                    <td th:text='${PhysicalQuantity.getMeasurement_mode()}'></td>

                    <td sec:authorize="isAuthenticated()">
                        <a th:href="@{/admin/editPhysicalQuantity/{id}(id=${PhysicalQuantity.getId()})}">Редактировать</a> |
                        <a th:href="@{/admin/deletePhysicalQuantity/{id}(id=${PhysicalQuantity.getId()})}">Удалить</a>
                    </td>
                </tr>
            </span>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
