<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="./static/back.css">-->
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Bootstrap JS -->
<title>Климат</title>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<style>
    td,th {
        text-align: center;
    }
    .gradient {
        /*background: linear-gradient(to top left, #d2f6fc, white);*/
        background: #e2f7fa;
        background: linear-gradient(to right, #e2f7fa, #eaeeee, #e2f7fa);
    }

    .gradient-nav {
        background: #0a2a40;
        /*background: linear-gradient(to top, #15496d 20%, #0a2a40 50%, #15496d 80%);*/
        background: linear-gradient(to top, #1d5174 20%, #0c314c 50%, #1d5174 80%);
    }
    #additional{
        color: blue;
    }
    #additional:hover{
        color: royalblue;
        text-decoration: underline;
    }
    .forma{
        margin-left: 15%;
        margin-right: 15%;
    }
    .validation{
        color: red;
    }
</style>